<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>


<body>
    <div th:fragment="contentdip">
        <input type="hidden" name="dip" th:field="${dip.idDip}">
        <h4 class="header-title">INTRODUZCA LOS SIGUIENTES DATOS</h4>
        <div class="row">
            <div class="col-md-6 mb-6">
                <label for="validationCustom03">DIP</label>
                <input type="text" class="form-control" name="dip" th:field="${dip.codDip}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6 mb-6">
                <label for="validationCustom02">Descripcion</label>
                <input type="text" class="form-control" name="dip" id="validationCustom02"
                    th:field="${dip.descripcion}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </div> 

    <!-- --------- -->

    <div th:fragment="contentHistorialRecetas">
        <input type="hidden" name="dip" th:field="${historialReceta.idHistorialReceta}">
        <h4 class="header-title">INTRODUZCA LOS SIGUIENTES DATOS</h4> 
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Prescripción Medica</label>
                <select class="custom-select" th:field="${historialReceta.receta}" required>
                    <option value="">Selecciona una prescripción Medica</option>
                    <th:block th:each="r: ${recetas}" th:if="${r.estado != 'X'}">
                    <option th:value="${r.idReceta}" th:text="${r.prescripcionMedica}"></option>
                    </th:block>
                </select>
                <div class="invalid-feedback">Debes seleccionar una prescripción Medica</div>
                <div class="valid-feedback">¡Se ve bien!</div>
            </div>
             
        </div>
    </div> 
    
    <!-- --------- -->

    <div th:fragment="contentHistorialMedico">
        <input type="hidden" name="historialMedico" th:field="${historialMedico.idHistorialMedico}">
        <h4 class="header-title">INTRODUZCA LOS SIGUIENTES DATOS DEL HISTORIAL MEDICO</h4>
        <div class="row">

            <div class="col-md-6 mb-6">
                <label for="validationCustom03">Fecha</label>
                <input type="date" class="form-control" name="historialMedico" th:field="${historialMedico.Fecha}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-6 mb-6">
                <label for="validationCustom02">Observación</label>
                <input type="text" class="form-control" name="historialMedico" id="validationCustom02"
                    th:field="${historialMedico.Observacion}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Servicios</label>
                <select class="custom-select" th:field="${historialMedico.concepto_servicio}" required>
                    <option value="">Selecciona un Servicio</option>
                    <th:block th:each="cs: ${conceptosServicios}" th:if="${cs.estado != 'X'}">
                    <option th:value="${cs.idConceptoServicio}" th:text="${cs.servicio}"></option>
                    </th:block>
                </select>
                <div class="invalid-feedback">Debes seleccionar una prescripción Medica</div>
                <div class="valid-feedback">¡Se ve bien!</div>
            </div>

        </div>
    </div>

     <!-- --------- -->

     <div th:fragment="contentHistorialMedicoServicio" style="width: 90%">
        <input  type="hidden" name="historialMedicoServicio" th:field="${historialMedicoServicio.idHistorialMedicoServicio}">
        <h4 class="header-title">INTRODUZCA LOS SIGUIENTES DATOS DEL HISTORIAL MEDICO SERVICIO</h4>
        <div class="row">

            <div class="col-md-6 mb-6">
                <label for="validationCustom03">Hora</label>
                <input  type="time" class="form-control" name="historialMedicoServicio" th:field="${historialMedicoServicio.hora}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-6 mb-6">
                <label for="validationCustom03">Fecha</label>
                <input   type="date" class="form-control" name="historialMedicoServicio" th:field="${historialMedicoServicio.fecha}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

        </div>
    </div>

         <!-- --------- -->

    <div th:fragment="contentConceptosServicios" >
        <input  type="hidden" name="conceptosServicio" th:field="${conceptosServicio.idConceptoServicio}">
        <h4 class="header-title">INTRODUZCA LOS SIGUIENTES DATOS DEL CONCEPTO SERVICIO</h4>
        <div class="row">

            <div class="col-md-6 mb-6">
                <label for="validationCustom03">servicio</label>
                <input  type="text" class="form-control" name="conceptosServicio" th:field="${conceptosServicio.servicio}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-6 mb-6">
                <label for="validationCustom03">Descripcion</label>
                <input   type="text" class="form-control" name="conceptosServicio" th:field="${conceptosServicio.descripcion}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-6 mb-6">
                <label for="validationCustom03">Costo</label>
                <input   type="number" class="form-control" name="conceptosServicio" th:field="${conceptosServicio.costo}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

        </div>
    </div>

</body>

</html>